button {
  margin: 16px;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-style: solid;
  border-color: black;
  border-width: 2.5px;
  background-color: transparent;
  color: black;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 500;
}

button:hover {
  background-color: #80397b;
}